.content {
  padding-top: 10%;
  text-align: left;
}

.info-body {
  font-size: 18px;
}

.para-end {
  margin-bottom: 3%;
}

.content-heading {
  margin-bottom: 3%;
}

.card {
  margin-top: 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  color: black;
}

.webcard-link {
  text-decoration: none !important;
}

.card:hover {
  opacity: 1;
}


