.input-content {
  resize: none;
  border-radius: 2px;
  padding: 4px;
}

.input-name {
  padding: 4px;
}

.submit-btn {
  background-color: #3b4252 !important;
  border-radius: 4px;
  border: none;
  color: #d8dee9;
  text-decoration: none;
  padding: 4px 16px;
  font-size: 20px;
  border-style:none;
}

.submit-btn:focus {
  outline: 0;
}
