.icons-root {
  float: right;
  margin-top: 0.5%;
  margin-right: 0.5%;
}

.face {
  max-width: 100%; /* Adjust this value if needed */
  max-height: 300px; /* Example max-height, adjust as needed */
  height: auto;
  display: block; /* Ensures it takes its own line */
  margin: 0 auto; /* Centers the image horizontally */
  /* Additional styles for positioning or spacing can be added here */
}
