.header {
  background-color: #3b4252 !important;
  border-radius: 0 !important;
  height: inherit;
  padding-top: 5%;
}

.header-text {
  color: #d8dee9;
  padding-top: 50px;
}

.scroll {
  position: relative;
  bottom: -10vh;
}

.profile-image {
  height: 20%;
  width: 20%;
}
