.layout-root {
  background-color: #3b4252 !important;
}

.header {
  border-radius: 0 !important;
  height: inherit;
  display: flex;
  padding: 2%;
  align-items: center;
  justify-content: center;
}

.header-text {
  color: #d8dee9;
  padding-left: 10px;
}

.profile-image {
  height: 15%;
  width: 15%;
}

